

/* ========================================
1. FONTS
======================================== */

@font-face {
    font-family: 'Hexen';
    src: url('assets/fonts/Hexen.otf') format('opentype');
}

@font-face {
    font-family: 'Sins';
    src: url('assets/fonts/Sins.otf') format('opentype');
}

/* ========================================
2. 
======================================== */

body {
    background-image: url('assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ========================================
3. 
======================================== */

.top-bar {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 40%;
    list-style: none;
}

.top-bar li{
    margin: 0 0.5rem;
}

.top-bar a {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: Hexen;
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}

.top-bar a:hover {
    color: brown
}

/* ========================================
4. 
======================================== */

.home-section h1 {
    font-family: Sins;
    color: white;
    font-size: 1rem;
}