/* ========================================
1. COLOR
======================================== */

:root {
    --bg-color: #ffffff;
    --logo-color: #ffffff;
    --text-color: #000000;
    --theme-color: #ffffff;
    --hover-color: #FFD100;
    --border-color: #000000;
    --accent-color: #FFD100;
    --nav-bg: rgba(255, 255, 255, 0.3);
    --error-input: rgba(255, 209, 0, 0.2);
    --error-input-second: rgba(255, 209, 0, 0.1);
}   

/* ========================================
2. FONTS
======================================== */

@font-face {
    font-family: 'Hexen';
    src: url('assets/fonts/Hexen.otf') format('opentype');
}

@font-face {
    font-family: 'Sins';
    src: url('assets/fonts/Sins.otf') format('opentype');
}

/* ========================================
3. BASE STYLES
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 1px solid red
}

body {
    background-color: burlywood;
    /*background-image: url('assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

/* ========================================
4. HEADER
======================================== */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: burlywood;
    font-size: 1.5rem;
    position: relative;
}

.logo {
    display: flex;
}

.top-bar {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.home-section {
    height: 100vh;
}

.home-section h1 {
    font-size: 10rem;
}

.home-section p {
    font-size: 3rem;
}
